/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.11.2019, 9:43:24
    Author     : user
*/
.button{
     -fx-border-style: solid;
      -fx-font-weight: bold;
       -fx-background-color: magenta;
       -fx-text-fill: black;
       -fx-border-color: yellow;
 -fx-font-size: 20;
    -fx-border-radius: 50;
        -fx-background-radius: 40;
    -fx-border-width: 5px;
   
}
.label{
      -fx-font-size: 16pt;
        -fx-text-fill: black;
          -fx-font-family: "Calibri";
          -fx-font-weight: bold;
          -fx-background-color: yellowgreen;
          -fx-border-radius: 50;
          -fx-background-radius: 40;
          -fx-border-width: 5px;
}